body {
	font-family: 'Segoe UI', Verdana, Arial, sans-serif;
	font-size: .7em;
	color: white;
	background-color: #333;
	margin: 2 2;
	padding: 0 0;
	min-width: 350px;
}

#title {
	font-size: 1.1em;
	background-color: #333;
	margin-bottom: 7px;
	cursor: pointer;
}

a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#debug-wrapper {
	margin-top: 10px;
}

#streams-wrapper {
	margin-top: 10px;
}

#streams {
	margin-left: 5px;
}

#vlcUrl {
}

#title {
	float: left;
}

#doom {
	float: right;
}

#msg, #no-interface, #stream-info {
	clear: both;
}

input.url {
	width: 82%;
	margin-bottom: 4px;
}

button {
	width: 14%;
	cursor: pointer;
}

input, button, input[input-type="button"] {
    font-size: smaller;
}